@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  font: 400 14px Roboto, sans-serif;
  background: #f0f0f5;
  -webkit-font-smoothing: antialiased;
}

input {
  width: 100%;
  padding: 0.5rem;
  border: none;

  font-size: 24px;
  color: #ffffff85;
  border-bottom: 2px solid #ffffff4d;
  background-color: transparent;
}

::placeholder {
  color: #ffffff4d;
}